body {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Move content to the top */
    height: 100vh;
    margin: 0;
    background: url('https://agz-master.github.io/ValentineSite/valentin.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: sans-serif; /* Use default font */
}

.container {
    position: relative;
    text-align: center;
    margin-top: 20px; /* Adjust margin to move text up */
}

h1 {
    position: absolute;
    top: 20px; /* Adjust position as needed */
    width: 100%;
    text-align: center;
    font-size: 6em; /* Increased font size */
    color: pink;
    text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, 2px 0 0 #000, 0 2px 0 #000, -2px 0 0 #000, 0 -2px 0 #000; /* Black border around letters */
}

video {
    width: 100%; /* Make video width fit within the container */
    height: 100vh; /* Ensure video takes up the full height */
    object-fit: cover; /* Cover the container */
}

