@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('https://AGZ-master.github.io/valentine/valentin.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    color: #ff69b4;
}

button {
    padding: 10px 20px;
    margin: 20px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
}

#yesButton {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
}

#noButton {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
}

#valentineVideo {
    display: none;
    margin-top: 20px;
    width: 100%; /* Make video width fit within the container */
    max-width: 600px; /* Adjust max width to control video size */
}
